.blog-cards:hover{
    border: solid 2px #02133c;
    transition: 0.2s ease-in-out;
}
.blog-cards{
    cursor: pointer;
}
.footer{
    background-color: #1d242d;
}
.footer_icon{
    color: rgb(255, 161, 37)
}
.footer_title{
    color: #dddddd;
    font-weight: 900;
}
.footer_text{
    color: #dddddd;
    cursor: pointer;
}
.footer_text:hover{
    text-decoration: underline;
}
.navrow{
    background-color: #02133c;
    color: white;
}
.slider-img{
    height: 75vh;
    width: 100vw;
}
.sidebar{
    background: rgb(170, 255, 239)
}
.regular-color{
    color: #02133c;
}
.sidebar-text{
    font-weight: bold;
}
.side-text{
    cursor: pointer;
    background-color: #02133c;
    color: white;
    border-radius: 10px;
}
.blogbtn{
    border: solid #02133c 2px;
    border-radius: 5px;
    padding: 5px 15px 5px 15px; 
}
.blogimg{
    width: 300px;
    height: 250px;
}
.subscribe-row{
    background: rgba(0,0,0,0.2) url('../../../Image/search-background.jpg');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60vh;
}
.inputss{
    height: 55px;
}
.loginbtn{
    background-color: yellow;
    border-radius: 10px;
    border: none;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    font-family: 'Charm', cursive;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Playfair Display SC', serif;
}
.writebtn{
    border-radius: 15px;
    border: none;
    background-color: white;
    padding: 20px 30px 20px 30px;
}
.writeblogrow{
    background: rgba(0,0,0,0.2) url('../../../Image/writeblog.jpg');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 50vh;
}