@import url('https://fonts.googleapis.com/css2?family=Charm&family=IBM+Plex+Sans:wght@500&family=Playfair+Display+SC:ital,wght@0,400;1,700&display=swap');

.regular-family{
  font-family: 'Charm', cursive;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Playfair Display SC', serif;
}